.actionsArea{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 1rem;
    font-weight: bold;
    font-size: 14px;
    color: hsl(234, 11%, 52%);
}


.filters{
    display: flex;
    gap: 1rem;
}

.filters a{
    cursor: pointer;
    transition: .2 ease;
}

.filters a:hover{
    color: hsl(236, 33%, 92%);
}
